flask==0.12
flask-restful
requests==2.9.1
gunicorn==19.3.0
psycopg2==2.6.1
celery==3.1.20
flower==0.9.1
redis==2.10.5
phe==1.2.3
pympler==0.4.3
setproctitle
minio==2.0.6
ijson==2.3
bitmath
#-e ./AnonymousLinking
#-e git+ssh://git@github.csiro.au/magic/AnonymousLinking.git#egg=anonlink
