apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-api
  labels:
    {{- include "es.release_labels" . | indent 4 }}
    component: "{{ .Values.api.name }}"
    tier: frontend
spec:
  replicas: {{ .Values.api.replicaCount }}
  {{- if .Values.api.strategy }}
  strategy:
{{ toYaml .Values.api.strategy | indent 4 }}
  {{- end }}
  template:
    metadata:
    {{- if .Values.api.podAnnotations }}
      annotations:
{{ toYaml .Values.api.podAnnotations | indent 8 }}
    {{- end }}
      labels:
        {{- include "es.release_labels" . | indent 8 }}
        component: "{{ .Values.api.name }}"
        tier: frontend
    spec:
      serviceAccountName: {{ if .Values.rbac.create }}{{ template "name" . }}{{ else }}"{{ .Values.api.serviceAccountName }}"{{ end }}

      containers:
        # TODO add hash of config e.g. .Values.configmapReload.name
        - name: entityservice-nginx
          image: {{ .Values.api.www.image.repository}}:{{ .Values.api.www.image.tag }}
          imagePullPolicy: {{ .Values.api.www.pullPolicy }}
          resources:
{{ toYaml .Values.api.www.resources | indent 12 }}
          ports:
            - containerPort: 8851
              name: entity-nginx
          env:
            - name: TARGET_SERVICE
              value: localhost
          lifecycle:
            preStop:
              exec:
                # SIGTERM triggers a quick exit; gracefully terminate instead
                command: ["/usr/sbin/nginx","-s","quit"]
        - name: entityservice-flask
          image: {{ .Values.api.app.image.repository}}:{{ .Values.api.app.image.tag }}
          imagePullPolicy: {{ .Values.api.app.pullPolicy }}
          resources:
{{ toYaml .Values.api.app.resources | indent 12 }}
          env:
            - name: REDIS_SERVER
              value: "{{ .Release.Name }}-{{ .Values.redis.nameOverride }}"
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "es.fullname" . }}
                  key: redisPassword
            - name: DATABASE_SERVER
              value: "{{ .Release.Name }}-{{ .Values.postgresql.nameOverride }}"
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "es.fullname" . }}
                  key: postgresPassword
            - name: DEBUG
              value: {{default "false" .Values.api.app.debug | quote }}
            - name: MINIO_SERVER
              value: "{{ .Release.Name }}-minio:9000"
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "es.fullname" . }}
                  key: minioAccessKey
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "es.fullname" . }}
                  key: minioSecretKey
          ports:
            - containerPort: 8000
              name: entity-flask
          livenessProbe:
            httpGet:
              path: /status
              port: entity-flask
            initialDelaySeconds: 10
            periodSeconds: 300
            timeoutSeconds: 30
          readinessProbe:
            httpGet:
              path: /version
              port: entity-flask
            initialDelaySeconds: 30
            periodSeconds: 60
            timeoutSeconds: 5
      imagePullSecrets:
        - name: {{ .Values.api.pullSecret }}
