apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: {{ template "fullname" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: "{{ .Values.workers.name }}"
    heritage: {{ .Release.Service }}
    tier: backend
    release: {{ .Release.Name }}
  name: {{ .Release.Name }}-api
spec:
  replicas: {{ .Values.workers.replicaCount }}
  {{- if .Values.workers.strategy }}
  strategy:
{{ toYaml .Values.workers.strategy | indent 4 }}
  {{- end }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
{{- if .Values.workers.podAnnotations }}

{{ toYaml .Values.workers.podAnnotations | indent 8 }}
    {{- end }}
      labels:
        app: {{ template "fullname" . }}
        component: "{{ .Values.workers.name }}"
        release: {{ .Release.Name }}
        tier: backend
    spec:
      containers:
        - name: celery-worker
          image: {{ .Values.workers.image.repository }}:{{ .Values.workers.image.tag }}
          imagePullPolicy: "{{ .Values.workers.image.pullPolicy }}"
          resources:
{{ toYaml .Values.workers.resources | indent 12 }}
          envFrom:
          - configMapRef:
              name: {{ template "fullname" . }}
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "fullname" . }}
                  key: redisPassword
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ template "fullname" . }}
                  key: postgresPassword
            - name: MINIO_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "fullname" . }}
                  key: minioAccessKey
            - name: MINIO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ template "fullname" . }}
                  key: minioSecretKey

          command:
            - "/usr/local/bin/celery"
            - "-A"
            - "async_worker"
            - "worker"
            - "--loglevel=info"
            - "-Ofair"
            - "-Q"
            - "celery,compute"
          args:
          {{- range $key, $value := .Values.workers.extraArgs }}
            - --{{ $key }}={{ $value }}
          {{- end }}
      imagePullSecrets:
      - name: {{ .Values.api.pullSecret }}
