version: '2'
services:

  db:
    image: postgres:9.5
    mem_limit: 6000m
    environment:
      - POSTGRES_PASSWORD=rX%QpV7Xgyrz
    volumes:
      - psql:/var/lib/postgresql/data
    networks:
      es_network:
        aliases:
          - db

  minio:
    image: minio/minio:RELEASE.2017-02-16T01-47-30Z
    command: server /export
    #ports:
    #  - "9000:9000"
    environment:
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    networks:
      es_network:
        aliases:
          - minio
    volumes:
      - minio:/export

  redis:
    image: redis:3.2
    networks:
      es_network:
        aliases:
          - redis

  # The flask application server
  backend:
    image: quay.io/n1analytics/entity-app:v1.4.10
    environment:
      - DEBUG=true
      - DATABASE_PASSWORD=rX%QpV7Xgyrz
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    depends_on:
      - db
      - db_init
      - redis
    networks:
      es_network:
        aliases:
          - backend

  # The application server can also setup the database
  db_init:
    image: quay.io/n1analytics/entity-app:v1.4.10
    environment:
      - DEBUG=true
      - DATABASE_PASSWORD=rX%QpV7Xgyrz
      - FLASK_APP=entityservice.py
    entrypoint: flask initdb
    depends_on:
      - db
    networks:
      es_network:

  # A celery worker
  worker:
    image: quay.io/n1analytics/entity-app:v1.4.10
    depends_on:
      - redis
      - db
    entrypoint: celery -A async_worker worker --loglevel=info --concurrency=10
    environment:
      - DATABASE_PASSWORD=rX%QpV7Xgyrz
      - ENTITY_MATCH_THRESHOLD=0.95
      - ENCRYPTION_MIN_KEY_LENGTH=1024
      # Trade off between more fine grained progress updates & fast processing of small jobs
      # versus incurring additional task overhead too many times.
      - GREEDY_CHUNK_SIZE=100000000
      - DEBUG=false
      - LOGGING_LEVEL=INFO
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    networks:
      es_network:

  nginx:
    image: quay.io/n1analytics/entity-nginx:v1.2.7
    ports:
      - "8851:8851"
    depends_on:
      - backend
    environment:
      TARGET_SERVICE: backend
      ETCD_URL:
      PUBLIC_PORT: 8851
      PUBLIC_IP:
    networks:
      es_network:
        aliases:
          - api


  # A celery monitor. Useful for debugging but okay to remain
  # commented out for deployment
#  celery_monitor:
#    image: quay.io/n1analytics/entity-app:v1.4.9
#    depends_on:
#      - redis
#    entrypoint: celery -A async_worker flower --port=8888 --url_prefix=monitor
#    networks:
#      es_network:
#        aliases:
#          - entityservice-monitor

networks:
  es_network:
    driver: bridge

volumes:
  psql:
  minio:
