version: '2'
services:

  db:
    image: postgres:10
    mem_limit: 6000m
    environment:
      - POSTGRES_PASSWORD=rX%QpV7Xgyrz
    volumes:
      - psql:/var/lib/postgresql/data


  minio:
    image: minio/minio:RELEASE.2017-02-16T01-47-30Z
    command: server /export
    #ports:
    #  - "9000:9000"
    environment:
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    volumes:
      - minio:/export


  redis:
    image: redis:3.2


  # The flask application server
  backend:
    image: quay.io/n1analytics/entity-app
    environment:
      - DEBUG=true
      - DATABASE_PASSWORD=rX%QpV7Xgyrz
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
    depends_on:
      - db
      - db_init
      - redis


  # The application server can also setup the database
  db_init:
    image: quay.io/n1analytics/entity-app
    environment:
      - DEBUG=true
      - DATABASE_PASSWORD=rX%QpV7Xgyrz
      - FLASK_APP=entityservice.py
    entrypoint: flask initdb
    depends_on:
      - db


  # A celery worker
  worker:
    image: quay.io/n1analytics/entity-app
    depends_on:
      - redis
      - db
    entrypoint: celery -A async_worker worker --loglevel=debug -Q celery,compute
    environment:
      - DATABASE_PASSWORD=rX%QpV7Xgyrz
      - ENTITY_MATCH_THRESHOLD=0.90
      - ENCRYPTION_MIN_KEY_LENGTH=1024
      - DEBUG=true
      - LOGGING_LEVEL=DEBUG
      - MINIO_ACCESS_KEY=AKIAIOSFODNN7EXAMPLE
      - MINIO_SECRET_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
      - CELERY_ACKS_LATE=true
      - CELERYD_MAX_TASKS_PER_CHILD=10
      - SMALL_COMPARISON_CHUNK_SIZE=100000000
      - LARGE_COMPARISON_CHUNK_SIZE=1000000000
      - SMALL_JOB_SIZE=100000000
      - LARGE_JOB_SIZE=100000000000
      - MATCH_THRESHOLD=0.98

  nginx:
    image: quay.io/n1analytics/entity-nginx
    ports:
      - 8851
    depends_on:
      - backend
    environment:
      TARGET_SERVICE: backend
      ETCD_URL:
      PUBLIC_PORT: 8851
      PUBLIC_IP:



  # A celery monitor. Useful for debugging but okay to remain
  # commented out for deployment
#  celery_monitor:
#    image: quay.io/n1analytics/entity-app
#    depends_on:
#      - redis
#    entrypoint: celery -A async_worker flower --port=8888 --url_prefix=/


volumes:
  psql:
  minio:
